* {
  box-sizing: border-box;
}
body {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #2e2a68 74%);
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
